<!DOCTYPE html>
<html lang="cs">
    <head>
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/svg+xml" sizes="any" href="{{ SITEURL }}/favicon.svg?v=3" />
        <link rel="alternate icon" href="{{ SITEURL }}/favicon.ico?v=3" />

        <link href="{{ SITEURL }}/theme/css/style.css" rel="stylesheet">
        <link href="{{ SITEURL }}/theme/css/pygment.css" rel="stylesheet">
        {% block twittercard %}{% endblock %}

    {% if FEED_ALL_ATOM %}
        <link rel="alternate" type="application/atom+xml" href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" title="{{ SITENAME }} ATOM/RSS Feed" />
    {% endif %}
    </head>

    <body>
    <div class="wrapper">
        <header class="site-header">
            <div class="site-title">
                <h1><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="{{ SITEURL }}">~</a></li>
                    {% if DISPLAY_PAGES_ON_MENU %}
                    {% for page in pages %}
                    <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                    <li><a href="{{ SITEURL }}/archives">log</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer class="site-footer">
            {% block footer %}{% endblock %}
            <p>{{ FOOTER }}</p>
        </footer>
    </div>
    </body>
</html>
