<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>

        <meta charset="UTF-8">

        <link href="{{ SITEURL }}/theme/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="{{ SITEURL }}/theme/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link href="{{ SITEURL }}/theme/css/mystyle.css" rel="stylesheet" media="screen">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        {% if FEED_RSS %}
        <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if GOOGLE_ANALYTICS %}
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS }}']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        {% endif %}
    </head>

    <body>
    <div class="container">
        <div class="row">
            <div class="span8 offset3">
                <ul class="breadcrumb menu">
                    {% if DISPLAY_PAGES_ON_MENU %}
                    {% for page in PAGES %}
                    <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>{% if not loop.last %} <span class="divider">/</span>{% endif %}</li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="span3 text-right">
                <div class="hero-unit">
                    <h1><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
                    {% if SITESUBTITLE %}
                    <p>{{ SITESUBTITLE }}</p>
                    {% endif %}
                </div>
                {% if AUTHOR %}
                <div class="metadata">
                    <h5>Autor</h5>
                    <h6 class="font-style: italic;">{{ AUTHOR }}</h6>
                    {% if AUTHOR_BIO %}
                    <p>{{ AUTHOR_BIO }}</p>
                    {% endif %}
                {% endif %}
                {% if SOCIAL %}
                    <h5>Social</h5>
                    <ul class="social">
                    {% for social, link in SOCIAL.iteritems() %}
                            <li><a href="{{ link }}" target="_blank"><img src="{{ SITEURL }}/theme/social/{{ social|lower }}-32.png" title="{{ social|capitalize }}" class="si-{{ social|lower }}" /></a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
                </div>
            </div>
            <div class="span8">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="footer">
        {% block footer %}{% endblock %}
        <p class="text-center" style="color: #666;">2009 ~ 2013</p>
    </div>
    </body>
</html>
