{% extends "base.html" %}
{% block content %}

{% for article in articles_page.object_list %}
<h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
{% if not HIDE_DATE %} <time datetime={{ article.date.isoformat() }}>{{article.locale_date }}</time>{% endif %}
<div class="article">
{{ article.summary }}
<p class="read-more">
	<a href="{{ SITEURL }}/{{ article.url }}" role="button" class="btn btn-default">Přečíst celé</a>
</p>
<hr />
</div>
{% endfor %}

{% include 'pagination.html' %}
{% endblock %}
