/* @import url(https://fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic&subset=latin-ext); */
 @import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i');

::selection {
    background: #d62828;
    color: #fff;
}
::-moz-selection {
    background: #d62828;
    color: #fff;
}
body {
    color: #666;
    font-family: 'Roboto', sans-serif;
}
h1, h2 {
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
		color: #222;
}
h2 {
    font-size: 3.6rem;
    letter-spacing:-1px;
    font-variant: small-caps;
    font-weight: 700;
}
h1 a, h1 a:hover, h2 a, h2 a:hover, h5, h6 {
    color: #222;
    text-decoration: none;
}
p, ul li {
    font-weight: 400;
    font-size:1.6rem;
    line-height: 1.7em;
}
#avatar {
    width: 80px; height: 80px;
    background: url("/images/avatar.jpg");
    border-radius: 50%; background-size: 80px 80px !important;
    background-color: #000;
    box-shadow: 0 0  5px #888;
    margin: 0 auto;
}
.hero-unit {
    padding-top: 0px;
    padding-right: 0;
    padding-bottom: 10px;
    background: none;
}
.hero-unit p { 
    color:#999999;
    line-height: 1;
}
time {
    padding: 0;
    color: #999999;
    font-weight: normal;
}
.footer {
    border-top: 1px solid #e0e0df;
    padding: 20px;
}
.footer p { 
    margin: 0;
}
.span8  {
    padding: 5px;
}
.metadata {
    padding: 10px;
}
.metadata p { 
    font-size: 90%;
    color: #999999;
    line-height: 1.25;
    font-style: italic;
}
.menu {
    background: none;
    color: #999;
    margin-bottom: 80px;
}
.menu a {
    color: #999;
}
.article {
    margin-bottom: 50px;
}
ul.social, ul.social li {
    display: inline;
    margin: 0;
    padding: 0;
}
ul.social li img {
    background-size:32px 32px;
    height: 32px;
    width: 32px;
}
.si-twitter {
    background: #00ACED;
}
.si-github {
    background: #4183C4;
}
.si-linkedin {
    background: #007FB1;
}
.si-rss {
    background: #FF8300;
}
.flattr {
	float: right;
}
code {
	/* copied from bootstrap */
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	font-size: 1em;
	padding: 2px 4px;
	font-size: 90%;
	color: #c7254e;
	background-color: #f9f2f4;
	white-space: nowrap;
	border-radius: 4px
}
pre {
	overflow-x: visible;
}
.highlight {
	display: block;
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	overflow-x: auto;
	padding: 0px 9.5px;
	margin: 0 0 10px;
	border: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-clip: padding-box
	word-wrap: normal;
	white-space: pre;
}

blockquote {
	font-size: 75%;
  color: #5B5B5A;
}

.read-more {
	text-align: right;
}
