::selection {
    background: #d62828;
    color: #fff;
}
::-moz-selection {
    background: #d62828;
    color: #fff;
}
body {
    color: #333332;
}
h1, h2, small, a, p, .nav {
    font-family:  'Open Sans', sans-serif;
}
h1 {
    margin-top: 0;
}
h1 a, h1 a:hover, h2 a, h2 a:hover, h5, h6 {
    color: #36393d;
    text-decoration: none;
}
p, ul li {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.75;
}
pre {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}
.hero-unit {
    padding-top: 0px;
    padding-right: 0;
    padding-bottom: 10px;
    background: none;
}
.hero-unit p { 
    color:#999999;
    line-height: 1;
}
time {
    padding: 0;
    color: #999999;
    font-weight: normal;
}
.footer {
    border-top: 1px solid #e0e0df;
    padding: 20px;
}
.footer p { 
    margin: 0;
}
.span8  {
    padding: 5px;
}
.metadata {
    padding: 10px;
}
.metadata p { 
    font-size: 90%;
    color: #999999;
    line-height: 1.25;
    font-style: italic;
}
.menu {
    background: none;
    color: #999;
    margin-bottom: 95px;
}
.menu a {
    color: #999;
}
.article {
    margin-bottom: 50px;
}
ul.social, ul.social li {
    display: inline;
    margin: 0;
    padding: 0;
}
ul.social li img {
    background-size:32px 32px;
    height: 32px;
    width: 32px;
}
.si-twitter {
    background: #00ACED;
}
.si-github {
    background: #4183C4;
}
.si-linkedin {
    background: #007FB1;
}
.flattr {
	float: right;
}
